opentoutatice-addon-procedures-ecm/src/main/resources/schemas/form.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure">
	
	<xs:include schemaLocation="widgetsReferences.xsd" />
	<xs:include schemaLocation="actions.xsd" />
	
	<xs:complexType name="form">
		<xs:sequence>
			<xs:element name="widgetsReferences" type="nxs:widgetsReferenceList" />
			<xs:element name="actions" type="nxs:actionsList" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>