opentoutatice-addon-procedures-ecm/src/main/resources/schemas/procedure.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure">
	
	<xs:simpleType name="stringList">
		<xs:list itemType="xs:string" />
	</xs:simpleType>
	
	<xs:element name="authorizedGroups" type="nxs:stringList" />
	<xs:element name="authorizedActors" type="nxs:stringList" />

</xs:schema>