opentoutatice-addon-procedures-ecm/src/main/resources/schemas/widgetsValues.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/osivia/instances/procedures"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/osivia/instances/procedures">
	
	<xs:complexType name="widgetValueType">
		<xs:sequence>
			<xs:element name="property" type="xs:string" />
			<xs:element name="value" type="xs:string" />
			<xs:element name="order" type="xs:integer" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="widgetsValueList">
		<xs:sequence>
			<xs:element name="widgetValue" type="nxs:widgetValueType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>