opentoutatice-addon-procedures-ecm/src/main/resources/schemas/widgetsReferences.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/osivia/models/procedure">
	
	<xs:complexType name="widgetReferenceType">
		<xs:sequence>
			<xs:element name="label" type="xs:string" />
			<xs:element name="isInput" type="xs:boolean" default="true"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="widgetsReferenceList">
		<xs:sequence>
			<xs:element name="widgetReference" type="nxs:widgetReferenceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>